registry=https://registry.npmjs.org/
@ada:registry=https://repo.asredanesh.com/repository/npm-hosted/
email=a.esmaeili@asredanesh.com
always-auth=true
//repo.asredanesh.com/repository/npm-hosted/:_auth=${NPM_TOKEN}
